<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style2.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
    <header class="course-header" id="header">
      <div class="logo-div">
        <img class="logo-img" id="logo" src="../static/images/logo-white.svg">
      </div>
      <nav class="logout">
        <a class="nav-a login" tabindex="0" href="../">Log Out</a>
      </nav>
    </header>

    <div class="courses-landing" id="to-top">
      <div class="course-landing-flex">
        <div class="course-div">
          <div class="course-box create-new" id="create"></div>
          <div class="course-code-div">
            <p class="course-code create">Create</p>
          </div>
        </div>

        <div class="recent-div" id="recent">
          <p class="recent">Recent</p>
          <a class="course-div" href="<%= documents[0].link %>" target="_blank">
            <div class="course-box" id="course-box" style="background-image: url(../static/images/courses/<%= documents[0].color %>.png)"></div>
            <div class="course-code-div">
              <p class="course-code" ><%= documents[0].name %></p>
              <div class="course-code-line"></div>
            </div>
            <p class="modified-light"><%= documents[0].date %></p>
          </a>
        </div>

        <% for(var i = 1; i < minLength; i++) { %>
          <a class="course-div" href="<%= documents[i].link %>" target="_blank">
            <div class="course-box" id="course-box" style="background-image: url(../static/images/courses/<%= documents[i].color %>.png)"></div>
            <div class="course-code-div">
              <p class="course-code"><%= documents[i].name %></p>
              <div class="course-code-line"></div>
            </div>
            <p class="modified-light"><%= documents[i].date %></p>
          </a>
        <% } %>
      </div>
    </div>

    <div class="courses-bar">
      <div>
        <div class="bar-buttons">
          <i class="material-icons md-36">view_list</i>
        </div>
        <div class="bar-buttons">
          <i class="material-icons md-36">sort_by_alpha</i>
        </div>
      </div>
      <div class="search-container">
        <label class="search-bar-label" for="search-courses">Search</label>
        <input name="search-courses" class="search-bar" id="search-courses" placeholder="Search">
        <i class="material-icons md-36 search-icon">search</i>
      </div>
    </div>

    <div class="courses-div" id="bottom-section">
      <% for(var i = 0; i < documents.length; i++) { %>
        <a id="<%= documents[i].id %>" class="course-div" href="<%= documents[i].link %>" target="_blank">
          <div id="course-box-<%= documents[i].id %>" class="course-box" style="background-image: url(../static/images/courses/<%= documents[i].color %>.png)"></div>
          <span id="thumbnail-<%= documents[i].id %>" hidden></span>
          <div class="course-code-div">
            <p class="course-code"><%= documents[i].name %></p>
            <div class="course-code-line"></div>
          </div>
          <p class="modified"><%= documents[i].date %></p>
        </a>
      <% } %>
    <footer>
      <div class="footer-container">
        <p class="footer-txt">Copyright © 2019 notepal Inc.</p> 
        <a href="#header"><u class="footer-txt">Back to top</u></a>
      </div>
    </footer>
  </body>
<script type="text/javascript" src="../static/script/script2.js"></script>

</html>